{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper row3">
        <main class="hoc container clear"> 
            <div class="btmspace-50">
                <h2 class="heading">Comprar {{ protocol_name }}</h2>
                {% if not profile_completed %}
                    <p style="color: red">
                        Tu perfil no está completo. Debes completarlo antes de generar ningún protocolo.<br/>
                        Por favor, ve a <a href="{{ path('profile_homepage') }}">tu página de perfil</a> y rellena los datos que faltan.
                    </p>
                {% endif %}
                <form name="questions_form" method="post" _lpchecked="1">
                    <div id="questions_form">
                        {% for question in protocols.uso_redes.questions %}
                            <div>
                                <label class="required">{{ question.question }}</label>
                                {% for answer in question.answers %}
                                    <input type="radio" name="answer_{{ question.id }}" value="{{ answer }}" {{ disabled }} required="required"> {{ answer }}</input><br/>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <input type="hidden" id="credentials_form__token" name="questions_form[_token]" value="870PjMsPxEhnv0oNeA-34QVwvijMcFQjXVsHD6p5WHQ">
                    </div>
                    <input class="btn" type="submit" value="Generar protocolo">
                </form>
            </div>
            <div class="clear"></div>
        </main>
    </div>
{% endblock %}
