<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}ammana - seal the deal!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="top">

        <div class="wrapper row0">
            <div id="topbar" class="hoc clear"> 
                <div class="fl_left">
                    <ul class="nospace inline pushright">
                        <li><i class="fa fa-sign-in"></i> <a href="#">Login</a></li>
                        <li><i class="fa fa-user"></i> <a href="#">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="wrapper row1">
            <header id="header" class="hoc clear"> 
                <div id="logo" class="fl_left">
                    <h1><a href="">ammana</a></h1>
                    <p>Seal the deal!</p>
                </div>
                <nav id="mainav" class="fl_right">
                    <ul class="clear">
                        <li class="active"><a href="">Home</a></li>
                        <li><a class="drop" href="#">Protocolos</a>
                            <ul>
                                <li><a href="">Protocolo #1</a></li>
                                <li><a href="">Protocolo #2</a></li>
                                <li><a href="">Protocolo #3</a></li>
                            </ul>
                        </li>
                        <li><a class="drop" href="#">Dropdown</a>
                            <ul>
                                <li><a href="#">Level 2</a></li>
                                <li><a class="drop" href="#">Level 2 + Drop</a>
                                    <ul>
                                        <li><a href="#">Level 3</a></li>
                                        <li><a href="#">Level 3</a></li>
                                        <li><a href="#">Level 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Level 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Link Text</a></li>
                        <li><a href="#">Link Text</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
            <div id="pageintro" class="hoc clear"> 
                <article>
                    <h2 class="heading">ammana es todo lo que necesitas</h2>
                    <p>Copy super comercial que explica lo mucho que necesitas este software. Esto es catchy, ya verás como seguro que compras.</p>
                    <footer><a class="btn" href="#">Probar ahora</a></footer>
                </article>
            </div>
        </div>

        <div class="wrapper row3">
            <main class="hoc container clear"> 
                <div class="center btmspace-50">
                    <h2 class="heading">Protocolos</h2>
                    <p>Estos protocolos te van a salvar la vida.</p>
                </div>
                <ul class="nospace group btmspace-50">
                    <li class="one_third first">
                        <article class="element">
                            <figure><img src="images/demo/320x210.png" alt="">
                                <figcaption><a class="btn small" href="#">More</a></figcaption>
                            </figure>
                            <div class="excerpt">
                                <h6 class="heading"><a href="#">Protocolo #1</a></h6>
                                <p>Cursus massa porta erat ac porttitor finibus velit elit mollis lorem ac&hellip;</p>
                            </div>
                        </article>
                    </li>
                    <li class="one_third">
                        <article class="element">
                            <figure><img src="images/demo/320x210.png" alt="">
                                <figcaption><a class="btn small" href="#">More</a></figcaption>
                            </figure>
                            <div class="excerpt">
                                <h6 class="heading"><a href="#">Protocolo #2</a></h6>
                                <p>Cursus massa porta erat ac porttitor finibus velit elit mollis lorem ac&hellip;</p>
                            </div>
                        </article>
                    </li>
                    <li class="one_third">
                        <article class="element">
                            <figure><img src="images/demo/320x210.png" alt="">
                                <figcaption><a class="btn small" href="#">More</a></figcaption>
                            </figure>
                            <div class="excerpt">
                                <h6 class="heading"><a href="#">Protocolo #3</a></h6>
                                <p>Cursus massa porta erat ac porttitor finibus velit elit mollis lorem ac&hellip;</p>
                            </div>
                        </article>
                    </li>
                </ul>
                <p class="center nospace"><a class="btn" href="#">Contratar</a></p>
                <!-- / main body -->
                <div class="clear"></div>
            </main>
        </div>

        <div class="wrapper bgded overlay coloured" style="background-image:url('images/demo/backgrounds/02.png');">
                <div class="hoc container clear"> 
                        <article class="center">
                                <h2 class="font-x3 uppercase">Otro apartado</h2>
                                <p class="btmspace-50 font-x2 capitalise">Quizás más textos comerciales sobre ammana</p>
                                <footer>
                                        <ul class="nospace inline pushright">
                                                <li><a class="btn inverse" href="#">Un botón</a></li>
                                                <li><a class="btn" href="#">Otro</a></li>
                                        </ul>
                                </footer>
                        </article>
                </div>
        </div>

        <div class="wrapper row3">
            <section class="hoc container clear"> 
                <div class="group">
                    <div class="one_third first btmspace-30">
                        <h6 class="font-x3 uppercase">Otro apartado más <a href="#">&raquo;</a></h6>
                    </div>
                    <article class="one_third btmspace-30">
                        <h6 class="uppercase font-x1"><a href="#">Dictum vivamus tortor</a></h6>
                        <p class="nospace">Posuere enim sed    odio nam vulputate lorem scelerisque eget ut sed magna finibus auctor dui nec mollis turpis sed sollicitudin urna commodo&hellip;</p>
                    </article>
                    <article class="one_third btmspace-30">
                        <h6 class="uppercase font-x1"><a href="#">Accumsan mollis nulla</a></h6>
                        <p class="nospace">Efficitur maecenas iaculis dignissim nunc vitae facilisis libero laoreet nec donec luctus ligula finibus metus rhoncus ac eleifend nibh condimentum enim&hellip;</p>
                    </article>
                    <article class="one_third first">
                        <h6 class="uppercase font-x1"><a href="#">Dapibus metus cras</a></h6>
                        <p class="nospace">Dictum morbi elementum accumsan nisi quis lacinia turpis tristique et phasellus a turpis eu libero mattis ultricies vel vitae nulla morbi ut rhoncus&hellip;</p>
                    </article>
                    <article class="one_third">
                        <h6 class="uppercase font-x1"><a href="#">Imperdiet nisl efficitur</a></h6>
                        <p class="nospace">Magna vivamus gravida lobortis arcu ut ullamcorper leo lacinia quis duis a massa eget quam efficitur sagittis morbi erat sapien imperdiet vitae augue&hellip;</p>
                    </article>
                    <article class="one_third">
                        <h6 class="uppercase font-x1"><a href="#">Gravida lorem ornare</a></h6>
                        <p class="nospace">Nec faucibus consectetur velit class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos in auctor arcu vel dui gravida&hellip;</p>
                    </article>
                </div>
            </section>
        </div>

        <div class="wrapper row4 bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">
            <footer id="footer" class="hoc clear"> 
                <div class="one_quarter first">
                    <h6 class="title">Acerca de</h6>
                    <p>Eros et magna ut vitae faucibus dui nec fermentum mauris nunc molestie venenatis metus et porttitor nisi faucibus ut cras non sem facilisis.</p>
                    <p>Hendrerit ligula ut blandit sem nulla non ipsum rutrum tempor dolor non faucibus eros cras imperdiet cursus sapien.</p>
                </div>
                <div class="one_quarter">
                    <h6 class="title">Datos de contacto y tal</h6>
                    <ul class="nospace linklist contact">
                        <li><i class="fa fa-map-marker"></i>
                            <address>
                            Street Name &amp; Number, Town, Postcode/Zip
                            </address>
                        </li>
                        <li><i class="fa fa-phone"></i> +00 (123) 456 7890<br>
                            +00 (123) 456 7890</li>
                        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
                        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
                    </ul>
                </div>
                <div class="one_quarter">
                    <h6 class="title">Donec at tellus eu</h6>
                    <ul class="nospace linklist">
                        <li><a href="#">Mauris in condimentum lacus</a></li>
                        <li><a href="#">Sed hendrerit est praesent</a></li>
                        <li><a href="#">Tempor dapibus enim phasellus</a></li>
                        <li><a href="#">Convallis lectus a tristique</a></li>
                        <li><a href="#">Lectus nisi sodales sem at</a></li>
                    </ul>
                </div>
                <div class="one_quarter">
                    <h6 class="title">ac urna morbi rutrum</h6>
                    <ul class="nospace linklist">
                        <li>
                            <article>
                                <h2 class="nospace font-x1"><a href="#">dignissim libero augue</a></h2>
                                <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
                                <p class="nospace">aenean non egestas urna curabitur vitae aliquam felis&hellip;</p>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h2 class="nospace font-x1"><a href="#">et nisl id pretium</a></h2>
                                <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
                                <p class="nospace">eros vehicula eros nec lacinia sem tellus vel turpis vivamus&hellip;</p>
                            </article>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>

        <div class="wrapper row5">
            <div id="copyright" class="hoc clear"> 
                <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved (or not) - <a href="#">ammana.es</a></p>
                <p class="fl_right">Developed by <a target="_blank" href="http://nolegaltech.com/">NoLegalTech</a></p>
            </div>
        </div>

        <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

        {% block javascripts %}
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery.backtotop.js') }}"></script>
            <script src="{{ asset('js/jquery.mobilemenu.js') }}"></script>
            <script src="{{ asset('js/jquery.placeholder.min.js') }}"></script>
        {% endblock %}

    </body>

</html>
