{#
 # ammana.es - job protocols generator
 # https://github.com/NoLegalTech/ammana
 # Copyright (C) 2018 Zeres Abogados y Consultores Laborales SLP <zeres@zeres.es>
 # https://github.com/NoLegalTech/ammana/blob/master/LICENSE
 #}

<!DOCTYPE html>
<html lang="es-ES" class="no-js no-svg">

    <head>
        {% if google_analytics is not null %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics }}"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', '{{ google_analytics }}');
            </script>
        {% endif %}

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}{{ i18n.es.metadata.page_title }}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
        {% block stylesheets %}
            {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/images/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="Description" content="ammana, prevención de riesgos laborales en medios digitales">
    </head>

    <body id="top">

        <header id="masthead" class="site-header" role="banner">

        <style>
@font-face{
    font-family:'Helvetica Neue';
    src:url('fonts/fonts/Helvetica-Neue/HelveticaNeue-Medium.otf');
    font-weight:normal;
    font-style:normal
}
        #masthead {
        height: 100px;
        background-color: white;
        border-bottom: 1px solid #c4c9cf;
        }
#masthead ul {
    float: right;
width: auto;
}
            #masthead li {
    display: inline;
    font-size: 24px;
    margin: 0px 5px 0px 5px;
    padding: 30px;
display: inline;
    font-size: 20px;
    margin: 0px 5px 0px 5px;
    padding: 5px;
    color: black;
    line-height: 3.5;
}
            #masthead li a {
color: black;
}
body {
    font-family: 'Helvetica';
}
.custom-header .wrap.main-menu {
    height: 100px;
    padding-top: 0px;
}
.custom-header .wrap.main-menu > a > img {
    margin-top: 35px;
    width: 150px;
}
.custom-header .wrap.main-menu > ul {
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.custom-header .wrap.main-menu > ul.general {
    padding-right: 20px;
    border-right: 1px solid #c4c9cf;
}
.custom-header .wrap.main-menu > ul.user {
    padding-left: 20px;
}
.custom-header .wrap.main-menu > ul.general > li > ul.protocols {
    float: none;
    position: absolute;
}
.custom-header .wrap.main-menu > ul.general > li > ul.protocols li {
    border: 1px solid #c4c9cf;
    display: block;
}
        </style>

        <div class="custom-header" style="margin-bottom: 0px;">

            <div class="wrap main-menu">

                <a href="{{ path('app') }}">
                    <img src="/blog/wp-content/themes/twentyseventeen/assets/images/logo.png" width="200" alt="El blog de ammana">
                </a>

                <ul class="user">
                    {% if not app.session.get('user') %}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10">
                            <a href="{{ path('user_login') }}">{{ i18n.es.menus.new_user.login }}</a>
                        </li>
                    {% endif %}
                    {% if app.session.get('user') %}
                        {% for option in app.session.get('menu') %}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10">
                            <a href="{{ path(option.path) }}">{{ option.text }}</a>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>

                <ul class="general">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10">
                        <a href="{{ path('user_login') }}">{{ i18n.es.menus.new_user.who_we_are }}</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10">
                        <a href="{{ path('user_login') }}">{{ i18n.es.menus.new_user.protocols }}</a>

                        <!--
                        <ul class="protocols">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10">
                                <a href="{{ path('user_login') }}">{{ i18n.es.menus.new_user.protocol_uso_redes }}</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10">
                                <a href="{{ path('user_login') }}">{{ i18n.es.menus.new_user.protocol_uso_mensajeria }}</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10">
                                <a href="{{ path('user_login') }}">{{ i18n.es.menus.new_user.protocol_uso_telematica }}</a>
                            </li>
                        </ul>
                        -->
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10">
                        <a href="{{ path('user_login') }}">{{ i18n.es.menus.new_user.news }}</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10">
                        <a href="{{ path('user_login') }}">{{ i18n.es.menus.new_user.contact }}</a>
                    </li>
                </ul>
        </div><!-- .wrap -->

        </div><!-- .custom-header -->
        </header>

        <section id="fill-pre-content">
        </section>

        {% block body %}
        {% endblock %}

        {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/*' filter='uglifyjs2' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        <style>
            #footer {
                width: 100%;
                margin: 0;
                padding: 0;
                float: left;
            }
            #newsletter {
                width: 50%;
                float: left;
                background-color: #eaeff2;
                padding: 0 80px;
            }
            #newsletter > h1 {
                color: #939ab7;
                font-size: 24px;
            }
            #newsletter_form > div > label {
                display: none;
            }
            #newsletter_form > div {
                width: 60%;
                float: left;
            }
            #newsletter > form > input[type="submit"] {
                background-color: #9299b6;
                border-radius: 20px;
                height: 40px;
                width: 30%;
                margin-left: 10%;
                font-size: 16px;
                padding: 0;
                font-weight: 400;
            }
            #newsletter > p {
                color: #939ab7;
                margin-top: 20px;
                float: left;
                width: 60%;
                text-align: center;
                font-size: 12px;
            }
            #footer_footer {
                width: 50%;
                float: right;
            }
        </style>

        <div id="footer">

            <div id="newsletter">
                <h1> Las noticias de Ammana en tu correo </h1>
                {{ form_start(newsletter_form) }}
                    {{ form_widget(newsletter_form) }}
                    <input type="submit" value="Subscribirme" />
                {{ form_end(newsletter_form) }}
                <p>
                    Al subscribirse está aceptando recibir correos
                    electrónicos comerciales de Ammana
                </p>
            </div>

            <div id="footer_footer">
                <div class="wrap">
                    <div class="related-post item_in_3col">
                        <a href="{{ path('info_legal') }}">Quiénes somos</a>
                    </div>
                    <div class="related-post item_in_3col">
                        <a href="{{ path('info_legal') }}">Información legal</a>
                    </div>
                    <div class="related-post item_in_3col">
                        <a href="{{ path('info_legal') }}">Twitter</a>
                    </div>
                    <div class="related-post item_in_3col">
                        <a href="{{ path('info_privacy') }}">Protocolos</a>
                    </div>
                    <div class="related-post item_in_3col">
                        <a href="{{ path('info_privacy') }}">Política de privacidad</a>
                    </div>
                    <div class="related-post item_in_3col">
                        <a href="{{ path('info_privacy') }}">Linkedin</a>
                    </div>
                    <div class="related-post item_in_3col">
                        <a href="{{ path('info_cookies') }}">Blog</a>
                    </div>
                    <div class="related-post item_in_3col">
                        <a href="{{ path('info_cookies') }}">Política de cookies</a>
                    </div>
                    <div class="related-post item_in_3col">
                        <a href="{{ path('info_cookies') }}">Contacto</a>
                    </div>
                </div>
            </div>

        </div>

    </body>

</html>
