<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}ammana - seal the deal!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="top">

        <div class="wrapper row0">
            <div id="topbar" class="hoc clear"> 
                {% if not app.session.get('user') %}
                    <div class="fl_left">
                        <ul class="nospace inline pushright">
                            <li><i class="fa fa-sign-in"></i> <a href="{{ path('user_login') }}">Identificarse</a></li>
                            <li><i class="fa fa-user-plus"></i> <a href="{{ path('register_user') }}">Registrarse</a></li>
                        </ul>
                    </div>
                {% endif %}
                {% if app.session.get('user') %}
                    <div class="fl_right">
                        <ul class="nospace inline pushright">
                            {% for option in app.session.get('menu') %}
                                <li><i class="fa {{ option.icon }}"></i> <a href="{{ path(option.path) }}">{{ option.text }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="wrapper row1">
            <header id="header" class="hoc clear"> 
                <div id="logo" class="fl_left">
                    <h1><a href="{{ path('app') }}">ammana</a></h1>
                    <p>Seal the deal!</p>
                </div>
                <nav id="mainav" class="fl_right">
                    <ul class="clear">
                        <li class="active"><a href="">Home</a></li>
                        <li><a class="drop" href="#">Protocolos</a>
                            <ul>
                                <li><a href="">Protocolo #1</a></li>
                                <li><a href="">Protocolo #2</a></li>
                                <li><a href="">Protocolo #3</a></li>
                            </ul>
                        </li>
                        <li><a class="drop" href="#">Dropdown</a>
                            <ul>
                                <li><a href="#">Level 2</a></li>
                                <li><a class="drop" href="#">Level 2 + Drop</a>
                                    <ul>
                                        <li><a href="#">Level 3</a></li>
                                        <li><a href="#">Level 3</a></li>
                                        <li><a href="#">Level 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Level 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Link Text</a></li>
                        <li><a href="#">Link Text</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        {% block body %}
        {% endblock %}

        <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

        {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/*' filter='uglifyjs2' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        <div class="wrapper row4 bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">
            <footer id="footer" class="hoc clear"> 
                <div class="one_quarter first">
                    <h6 class="title">Acerca de</h6>
                    <p>Eros et magna ut vitae faucibus dui nec fermentum mauris nunc molestie venenatis metus et porttitor nisi faucibus ut cras non sem facilisis.</p>
                    <p>Hendrerit ligula ut blandit sem nulla non ipsum rutrum tempor dolor non faucibus eros cras imperdiet cursus sapien.</p>
                </div>
                <div class="one_quarter">
                    <h6 class="title">Datos de contacto y tal</h6>
                    <ul class="nospace linklist contact">
                        <li><i class="fa fa-map-marker"></i>
                            <address>
                            Street Name &amp; Number, Town, Postcode/Zip
                            </address>
                        </li>
                        <li><i class="fa fa-phone"></i> +00 (123) 456 7890<br>
                            +00 (123) 456 7890</li>
                        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
                        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
                    </ul>
                </div>
                <div class="one_quarter">
                    <h6 class="title">Donec at tellus eu</h6>
                    <ul class="nospace linklist">
                        <li><a href="#">Mauris in condimentum lacus</a></li>
                        <li><a href="#">Sed hendrerit est praesent</a></li>
                        <li><a href="#">Tempor dapibus enim phasellus</a></li>
                        <li><a href="#">Convallis lectus a tristique</a></li>
                        <li><a href="#">Lectus nisi sodales sem at</a></li>
                    </ul>
                </div>
                <div class="one_quarter">
                    <h6 class="title">ac urna morbi rutrum</h6>
                    <ul class="nospace linklist">
                        <li>
                            <article>
                                <h2 class="nospace font-x1"><a href="#">dignissim libero augue</a></h2>
                                <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
                                <p class="nospace">aenean non egestas urna curabitur vitae aliquam felis&hellip;</p>
                            </article>
                        </li>
                        <li>
                            <article>
                                <h2 class="nospace font-x1"><a href="#">et nisl id pretium</a></h2>
                                <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
                                <p class="nospace">eros vehicula eros nec lacinia sem tellus vel turpis vivamus&hellip;</p>
                            </article>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>

        <div class="wrapper row5">
            <div id="copyright" class="hoc clear"> 
                <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved (or not) - <a href="#">ammana.es</a></p>
                <p class="fl_right">Developed by <a target="_blank" href="http://nolegaltech.com/">NoLegalTech</a></p>
            </div>
        </div>

    </body>

</html>
