{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper row3">
        <main class="hoc container clear"> 
            <div class="btmspace-50 small-sheet">
                <h2 class="heading">{{ i18n.es.error_page.error_label }}</h2>
                <p>{{ message }}</p>
                <p>
                    {{ i18n.es.error_page.contact_us | raw }}
                </p>
                <p>
                    {{ i18n.es.errors.contact_with_support | raw }}
                </p>
            </div>
            <div class="clear"></div>
        </main>
    </div>

    {% if technical_info is null %}
        <script>
            console.error('{{ message }}');
        </script>
    {% else %}
        <script>
            console.error('{{ technical_info }}');
        </script>
    {% endif %}

{% endblock %}
