{% extends 'base.html.twig' %}

{% block body %}

    <section id="info">
        <div class="wrap">
            <article>

                <h1>PLANIFICA EL USO DE LOS SISTEMAS DE MENSAJERÍA EN LA EMPRESA</h1>

                <p>
                    El protocolo laboral de uso de los sistemas de mensajería instantánea regula el uso que los trabajadores
                    de la empresa hacen de servicios como:
                </p>

                <ul>
                    <li> Intranet corporativa de la empresa </li>
                    <li> WhatsApp </li>
                    <li> Messenger </li>
                </ul>

                <p>
                    El protocolo de uso de los sistemas de mensajería de la empresa es un documento,
                    con plena validez legal elaborado por abogados especializados en derecho laboral.
                </p>

                <p>
                    Responde a un breve cuestionario obtendrás online un protocolo laboral sobre el uso de los
                    servicios de mensajería instantánea
                </p>

                <p>
                    Anticipa soluciones y evita problemas con <a target="_blank" rel="noopener" href="{{ path('app') }}">Ammana</a> by <a target="_blank" rel="noopener" href="https://zeres.es/">Zeres Abogados</a>
                </p>
                
                <p>
                    {% if not app.session.get('user') %}
                        <a href="{{ path('register_user') }}">
                            Cómpralo ahora por {{ price | number_format(2, '\'', '.') }} € + I.V.A.
                        </a>
                    {% endif %}
                    {% if app.session.get('user') %}
                        <a href="{{ path('protocol_buy', { 'id': 'uso_mensajerias' }) }}">
                            Cómpralo ahora por {{ price | number_format(2, '\'', '.') }} € + I.V.A.
                        </a>
                    {% endif %}
                </p>

            </article>
        </div>
    </section>

{% endblock %}
