{#
 # ammana.es - job protocols generator
 # https://github.com/NoLegalTech/ammana
 # Copyright (C) 2018 Zeres Abogados y Consultores Laborales SLP <zeres@zeres.es>
 # https://github.com/NoLegalTech/ammana/blob/master/LICENSE
 #}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrapper row3">
        <main class="hoc container clear"> 
            <div class="btmspace-50 small-sheet">
                <p>
                    {{ i18n.es.company_name_admin_page.intro }}
                </p>
                {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    {% if company.logo %}
                        <img style="height: 100px" src="/uploads/{{ company.logo }}"/>
                    {% endif %}
                    <input class="btn" type="submit" value="{{ i18n.es.company_name_admin_page.button }}" />
                {{ form_end(edit_form) }}
            </div>
            <div class="clear"></div>
        </main>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}
