{#
 # ammana.es - job protocols generator
 # https://github.com/NoLegalTech/ammana
 # Copyright (C) 2018 Zeres Abogados y Consultores Laborales SLP <zeres@zeres.es>
 # https://github.com/NoLegalTech/ammana/blob/master/LICENSE
 #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper row3">
        <main class="hoc container clear"> 
            <div class="btmspace-50 small-sheet">
                {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input class="btn" type="submit" value="{{ i18n.es.edit_user_page.update }}" />
                {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" onclick="return confirm('{{ i18n.es.edit_user_page.delete_confirmation_message }}')" value="{{ i18n.es.edit_user_page.delete }}">
                {{ form_end(delete_form) }}
            </div>
            <div class="clear"></div>
            <a href="{{ path('user_index') }}">{{ i18n.es.edit_user_page.back_to_list }}</a>
        </main>
    </div>

{% endblock %}
