{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper row3">
        <main class="hoc container clear"> 
            <div class="btmspace-50 small-sheet">
                <p>
                    {{ i18n.es.login_error_page.message | raw }}
                </p>
                <p>
                    {{ i18n.es.login_error_page.did_you_forget_password | raw }} <a href="{{ path('forgot_password') }}">{{ i18n.es.login_error_page.here }}</a> {{ i18n.es.login_error_page.to_recover }}
                </p>
                <p>
                    {{ i18n.es.errors.contact_with_support | raw }}
                </p>
            </div>
            <div class="clear"></div>
        </main>
    </div>

{% endblock %}

