{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper row3">
        <main class="hoc container clear"> 
            <div class="btmspace-50 small-sheet">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input class="btn" type="submit" value="{{ i18n.es.login_page.button }}" />
                {{ form_end(form) }}
            </div>
            <div class="clear"></div>
            <a href="{{ path('forgot_password') }}">{{ i18n.es.login_page.forgot_password }}</a>
        </main>
    </div>

{% endblock %}
