{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrapper row3">
        <main class="hoc container clear"> 
            <div class="btmspace-50 small-sheet">
                <h2 class="heading">Tu perfil</h2>
                {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    {% if user.logo %}
                        <img style="height: 100px" src="/uploads/{{ user.logo }}"/>
                    {% endif %}
                    <input class="btn" type="submit" value="Actualizar" />
                {{ form_end(edit_form) }}
            </div>
            <div class="clear"></div>
        </main>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}
