<h1>User {{ user.id }}</h1>
<p>
    Email: <strong>{{ user.email }}</strong><br/>
    CompanyName: <strong>{{ user.companyName }}</strong><br/>
    Cif: <strong>{{ user.cif }}</strong><br/>
    Address: <strong>{{ user.address }}</strong><br/>
    ContactPerson: <strong>{{ user.contactPerson }}</strong><br/>
</p>
