{#
 # ammana.es - job protocols generator
 # https://github.com/NoLegalTech/ammana
 # Copyright (C) 2018 Zeres Abogados y Consultores Laborales SLP <zeres@zeres.es>
 # https://github.com/NoLegalTech/ammana/blob/master/LICENSE
 #}

<h1>{{ i18n.es.emails.welcome.title }}</h1>

<p>
{{ i18n.es.emails.welcome.text }}<br/>
<a href="{{ url('activate_user', {'activationHash': activationHash}) }}">{{ i18n.es.emails.welcome.link }}</a>
</p>

<p>
{{ i18n.es.emails.welcome.fallback }}<br/>
<a href="{{ url('activate_user', {'activationHash': activationHash}) }}">{{ url('activate_user', {'activationHash': activationHash}) }}</a>
</p>
