<h1>Bienvenido a ammana.es.</h1>

<p>
Por favor, confirma tu cuenta de correo haciendo click en el siguiente enlace:<br/>
<a href="{{ url('app') }}/activate/{{ hash }}">{{ url('app') }}/activate/{{ hash }}</a>
</p>

<p>
Si el enlace no funciona, copia y pega esto en tu navegador:<br/>
{{ url('app') }}/activate/{{ hash }}
</p>
