{#
 # ammana.es - job protocols generator
 # https://github.com/NoLegalTech/ammana
 # Copyright (C) 2018 Zeres Abogados y Consultores Laborales SLP <zeres@zeres.es>
 # https://github.com/NoLegalTech/ammana/blob/master/LICENSE
 #}

<h1>{{ title }}</h1>

<p> {{ message }} </p>

{% if user %}
    <p> {{ i18n.es.emails.info.client_data }} </p>
    <pre> {{ user }} </pre>
{% endif %}

{% if additional_data %}
    <p> {{ i18n.es.emails.info.additional }} </p>
    <pre> {{ additional_data }} </pre>
{% endif %}
