<h1>{{ i18n.es.emails.new_password.title }}</h1>

<p>
{{ i18n.es.emails.new_password.text }}<br/>
<a href="{{ url('new_password', {'activationHash': activationHash}) }}">{{ i18n.es.emails.new_password.link }}</a>
</p>

<p>
{{ i18n.es.emails.new_password.fallback }}<br/>
<a href="{{ url('new_password', {'activationHash': activationHash}) }}">{{ url('new_password', {'activationHash': activationHash}) }}</a>
</p>
